@charset "utf-8";

@font-face {
    font-family: 'BMJUA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'BMJUA';
}

header {
    height: 50px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgb(233, 233, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>h1 {
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
    width: 20%;
    font-size: 24px;
}

header>nav {
    margin-right: 30px;
}

nav>ul {
    display: flex;
    justify-content: center;
}

nav>ul>li {
    width: auto;
    margin-left: 20px;
}

li>a {
    color: #000;
}

li>a:hover {
    font-weight: bold;
}

.container {
    text-align: center;
}

.container>h1 {
    margin-top: 50px;
}

.number {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
}

input[type="number"] {
    width: 200px;
    height: 50px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

button {
    border: none;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 35px;
}

button:hover {
    color: rgb(233, 233, 233);
    background: #000;
}

p{
    color: #7e7e7e;
}
.ad-container {
    display: flex;
    /* 플렉스 박스를 사용하여 정렬 */
    justify-content: center;
    /* 가로 중앙 정렬 */
    margin: 20px 0;
    /* 상하 여백 설정 */
}

@media (max-width: 768px) {
    h1 {
        display: none;
    }
}